@import 'ember-bootstrap/bootstrap';

$ember-basic-dropdown-content-z-index: 2000;

.navigation {
	flex: 1;
}

.spinner-simple {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.book-card-cover {
	height: 35%;
	object-fit: contain;
}

.book-card-description {
	max-height: 35%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
}

@import "ember-power-select/themes/bootstrap";

@import "ember-power-select";
