<div class="spinner-simple">
    <div class="loadingio-spinner-spinner-1idt1olxhdw">
        <div class="ldio-yh5yxajucl">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<style type="text/css">
    @keyframes ldio-yh5yxajucl {
        0% {
            opacity: 1
        }

        100% {
            opacity: 0
        }
    }

    .ldio-yh5yxajucl div {
        left: 104.445px;
        top: 17.935px;
        position: absolute;
        animation: ldio-yh5yxajucl linear 0.6578947368421053s infinite;
        background: #443bb7;
        width: 2.11px;
        height: 48.529999999999994px;
        border-radius: 1.055px / 24.264999999999997px;
        transform-origin: 1.055px 87.565px;
    }

    .ldio-yh5yxajucl div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.6325910931174089s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(2) {
        transform: rotate(13.846153846153847deg);
        animation-delay: -0.6072874493927125s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(3) {
        transform: rotate(27.692307692307693deg);
        animation-delay: -0.5819838056680161s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(4) {
        transform: rotate(41.53846153846154deg);
        animation-delay: -0.5566801619433198s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(5) {
        transform: rotate(55.38461538461539deg);
        animation-delay: -0.5313765182186234s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(6) {
        transform: rotate(69.23076923076923deg);
        animation-delay: -0.5060728744939271s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(7) {
        transform: rotate(83.07692307692308deg);
        animation-delay: -0.4807692307692307s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(8) {
        transform: rotate(96.92307692307692deg);
        animation-delay: -0.4554655870445344s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(9) {
        transform: rotate(110.76923076923077deg);
        animation-delay: -0.43016194331983804s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(10) {
        transform: rotate(124.61538461538461deg);
        animation-delay: -0.4048582995951417s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(11) {
        transform: rotate(138.46153846153845deg);
        animation-delay: -0.3795546558704453s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(12) {
        transform: rotate(152.30769230769232deg);
        animation-delay: -0.35425101214574894s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(13) {
        transform: rotate(166.15384615384616deg);
        animation-delay: -0.3289473684210526s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(14) {
        transform: rotate(180deg);
        animation-delay: -0.30364372469635625s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(15) {
        transform: rotate(193.84615384615384deg);
        animation-delay: -0.2783400809716599s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(16) {
        transform: rotate(207.69230769230768deg);
        animation-delay: -0.25303643724696356s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(17) {
        transform: rotate(221.53846153846155deg);
        animation-delay: -0.2277327935222672s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(18) {
        transform: rotate(235.3846153846154deg);
        animation-delay: -0.20242914979757085s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(19) {
        transform: rotate(249.23076923076923deg);
        animation-delay: -0.17712550607287447s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(20) {
        transform: rotate(263.0769230769231deg);
        animation-delay: -0.15182186234817813s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(21) {
        transform: rotate(276.9230769230769deg);
        animation-delay: -0.12651821862348178s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(22) {
        transform: rotate(290.7692307692308deg);
        animation-delay: -0.10121457489878542s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(23) {
        transform: rotate(304.61538461538464deg);
        animation-delay: -0.07591093117408906s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(24) {
        transform: rotate(318.46153846153845deg);
        animation-delay: -0.05060728744939271s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(25) {
        transform: rotate(332.3076923076923deg);
        animation-delay: -0.025303643724696356s;
        background: #443bb7;
    }

    .ldio-yh5yxajucl div:nth-child(26) {
        transform: rotate(346.15384615384613deg);
        animation-delay: 0s;
        background: #443bb7;
    }

    .loadingio-spinner-spinner-1idt1olxhdw {
        width: 211px;
        height: 211px;
        display: inline-block;
        margin: 0 auto;
        overflow: hidden;
        background: none;
    }

    .ldio-yh5yxajucl {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0;
        /* see note above */
    }

    .ldio-yh5yxajucl div {
        box-sizing: content-box;
    }

    /* generated by https://loading.io/ */
</style>